.footer {
  padding: 4.8rem 0;
  background-color: var(--dark-200);

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 1.6rem;
      color: var(--gray-light);

      &:last-child {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
